.sponsor-image{
    width:500px;
}
.team-image{
  width:200px;
  margin-right:10px;
  margin-bottom:10px;
  border-radius:50%;
  margin-left: 0px;
}

.footer-sub{
  font-size:12px;
  padding:7px;
}
.footer-sub i{
  font-size:30px;
  /*margin-right:15px;
  float:left;*/
}
.footer-social{
  margin-top:10px;
  font-size:35px;
}
.footer-social i{
  margin-left:10px;
}
.about{
  text-align: center;
}

.list-styled{
  margin-bottom:10px;
  font-size: 20px;
}
