{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
Blogs
{% endblock title %}

{% block content %}

		<!-- Start Main Content -->
		<main class="main-content">
		    <div class="container body-content">

		    	<div class="row">
		    		<div class="col-sm-9 main-column archive-page">


		    			<div class="grid grid-col-2">
		    				<div class="grid-sizer"></div>
		    				<div class="gutter-sizer"></div>

			    			<!-- Start Post -->
								{% for post in allPosts %}
				    			<article class="grid-item">
									<div class="post-title">
										<a href="{% url "blog:post-view" post.pk post.title|slugify}" title="post title"><h2>{{post.title}}</h2></a>
										<div class="post-meta">
											<em class="date">{{post.date_added}}</em>
											<em class="author"><a href="#">{{post.author}}</a></em>
											<!-- <em class="category"><a href="archive-list.html">Games</a><a href="archive-list.html">Club News</a></em> -->
											<!-- <em class="comments"><a href="#">5</a></em> -->
										</div>
									</div>
									<div class="post-image hover-box-container hb-effect-fade">
										<a href="{% url "blog:post-view" post.pk post.title|slugify %}" class="hover-box" title="Insert Your Titles">
											<img src="{{post.introImage.url}}" alt="alt" />
											<div class="hover-box-content-container">
												<div class="hover-box-content">
													<em class="fa fa-link"></em>
												</div>
											</div>
										</a>
									</div>
									<div class="post-excerpt">
										<p>{{post.introText}}<a class="read-more" href="{% url "blog:post-view" post.pk post.title|slugify %}">Read More</a></p>
									</div>
				    			</article>
								{% endfor %}

		    			</div><!-- /.grid -->
		    			<hr/>

		    			<ul class="pagination">
		    				<li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-chevron-left"></i></a></li>
		    				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		    				<li><a href="#">2</a></li>
		    				<li><a href="#">3</a></li>
		    				<li><a href="#">4</a></li>
		    				<li><a href="#">5</a></li>
		    				<li><a href="#" aria-label="Next"><i class="fa fa-chevron-right"></i></a></li>
		    			</ul>

					</div><!--/.main-column -->




					{% include "blog/sidebar.html" %}

		    </div><!-- /.container -->
		</main><!-- /.main-content -->




{% endblock content %}
