{% load staticfiles %}

<aside class="sidebar col-sm-3 sticky">
  <!-- Start Widget -->
  <div class="widget widget-tabs">
    <h3>Recent News</h3>
    <div class="tab-container" id="tab-container1">
      <div class="tab-contents">
        <a class="v_nav v_active " data-tab="tab1">Latest</a>
        <div id="tab1" class="tab_content clearfix">
          <ul class="list-post-thumbs">
            {% for post in allPosts %}
              <li>
                <a href="{% url "blog:post-view" post.pk post.title|slugify %}">
                  <img src="{{post.introImage.url}}" alt="fill" />
                  <div>
                    <p><strong>{{post.title}</strong></p>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit</p>
                    <em>{{post.date_added}}</em>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Widget -->
  <div class="widget widget-ad-spot">
    <a href="#"><img src="{% static "img/250x250.png" %}" alt="Post Ad" /></a>
  </div>
</aside>
