{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
About Us
{% endblock title %}

{% block content %}

		<!-- Start Main Content -->
		<main class="main-content">
		    <div class="container body-content">

				<!-- Start Main Column -->
				<div class="col-sm-9 main-column">
					<!-- Page Header -->
					<h1 class="page-header">About Us</h1>

					<p class="lead" style="font-size:15px;">
						Born To Play is an endeavor, brought out to change the way you look at sports. A first of its kind initiative, Born To Play reconstructs sports as we know it, and hopes to bring you delight through the medium of sports. <br /><br />
						We strive to bring out the competitive spirit in people, irrespective of their gender or age. We aim to make sports an essential part of everyone’s routine and not just an option. <br /><br />
						Making available, various sports to the people of all strata and introducing sportsmanship as something to apply in our day to day lives is one of the prime driving forces of our venture. <br /><br />
						To create a never before seen era of sporting culture we:<br />
						- Host weekly events near you<br />
						- Organize events for independent institutions/bodies<br />
						- Organize annual league championships <br />
						<br /><br />
						Therefore, if you think of sports, think of us.
						<br /><br />
						Born To Play.
					</p>

					<br/>
					<!-- Start Contact Form -->



				</div>

				<aside class="col-sm-3 sidebar">
					<div class="widget widget-post-thumbs">
						<h3 class="page-header">Coming Events</h3>
						<ul class="list-post-thumbs">
							<!-- <li>
								<a href="event.html">
									<img src="img/thumb-3.jpg" alt="fill" />
									<div>
										<p><strong>Sydney VS Our Team</strong></p>
										<p>Nullam id dolor id niutid elit…<br/>
										<small class="meta-text">17 March</small></p>
									</div>
								</a>
							</li> -->
							<li>No Events in Lineup</li>
						</ul>
					</div>
				</aside>



		    </div><!-- /.container -->

				<div class="container">
					<div class="row" style="margin-bottom:20px;">
						<center><h1 class="page-header">Our Team</h1></center>
						<div class="col-sm-6 about">
							<img src="{% static "animesh.jpg" %}" class="team-image" />
							<p><h2 style="color:#00303f;">Animesh Pandey</h2>
							<h4 style="color:#00303f;">Co-founder, Director</h4>
							<span style="font-size:15px;">Animesh is a dreamer, a very creative one.<br /> He has all these visions which he wants to <br />fulfill through this venture.</span>
							</p>
						</div>
						<div class="col-sm-6 about">
							<img src="{% static "drishti.jpg" %}" class="team-image" />
							<p>
								<h2 style="color:#00303f;">Drishti Mehta</h2>
								<h4 style="color:#00303f;">Co-Founder, CEO</h4>
								<span style="font-size:15px;">Drishti is the backbone of Born To Play, <br />She handles all the operations single-handedly.<br /> She is a highly spirited, young passionate entrepreneur.</span>
							</p>
						</div>
					</div>
				</div>

		</main><!-- /.main-content -->


{% endblock content %}
