{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">

		<title>{% block title %}{% endblock title %} | BornToPlay</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "library/bs/css/bootstrap.min.css" %}">

		<!-- Menu Stylesheets -->
		<link rel="stylesheet" type="text/css" href="{% static "library/css/menuzord/menuzord.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/css/menuzord/menuzord-animations.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/css/menuzord/skins/menuzord-border-top.css" %}">

		<!-- RS5.0 Stylesheets -->
		<link rel="stylesheet" type="text/css" href="{% static "library/js/revolution/css/settings.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/js/revolution/css/layers.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/js/revolution/css/navigation.css" %}">

		<!-- Forms -->
		<link rel="stylesheet" type="text/css" href="{% static "library/js/skyforms/css/sky-forms.css" %}">

		<!-- Style Sheets -->
		<link rel="stylesheet" type="text/css" href="{% static "library/css/ie10-viewport-bug-workaround.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/css/font-awesome.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/css/iconmoon.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/js/owl-carousel/owl.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/js/fancybox/jquery.fancybox.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/js/anijs/anicollection.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/js/tooltipster/tooltipster.bundle.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/js/slidebars/slidebars.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/css/library.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/css/responsive.css" %}">

		<!-- Custom styles for this template -->
		<link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "library/css/custom.css" %}">
		<!-- Place RTL Style Sheet here -->


		<!--[if lt IE 9]>
			<script src="./library/bs/js/html5shiv.min.js"></script>
			<script src="./library/bs/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="">

  {% include "search.html" %}
  {% include "menu.html" %}

  {% block content %}
  {% endblock content %}

	{% include "footer.html" %}

    <!-- JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static "library/bs/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "library/js/ie10-viewport-bug-workaround.js" %}"></script>

    <script type="text/javascript" src="{% static "library/js/isotope.pkgd.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/imagesloaded.pkgd.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/owl-carousel/owl.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/cleantabs.jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/fancybox/jquery.fancybox63b9.js?v=2.1.4" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.scrollUp.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/valign.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/anijs/anijs-min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/anijs/anijs-helper-scrollreveal.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/anijs/anijs-helper-dom.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/menuzord.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.stickit.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/scrollIt.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.countdown.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/tooltipster/tooltipster.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/footer-reveal.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/headhesive.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.stellar.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.countTo.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/typed.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.waypoints.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/slidebars/slidebars.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/tendina.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.sidr.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/pace.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/list.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.fitvids.js" %}"></script>
		<script type="text/javascript" src="{% static "js/custom.js" %}"></script>

    <!-- Forms JS Files -->
    <script type="text/javascript" src="{% static "library/js/skyforms/js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/skyforms/js/jquery.form.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/skyforms/js/jquery.validate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/skyforms/js/jquery.maskedinput.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/skyforms/js/jquery.modal.js" %}"></script>

    <script type="text/javascript" src="{% static "library/js/revolution/js/jquery.themepunch.tools.min838f.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/revolution/js/jquery.themepunch.revolution.min838f.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/revolution/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/revolution/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/revolution/js/extensions/revolution.extension.navigation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/revolution/js/extensions/revolution.extension.kenburn.min.js" %}"></script>

    <!-- Scripts Go -->
    <script src="{% static "js/validate-contact.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
</body>
</html>
