{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
Contact Us
{% endblock title %}

{% block content %}

	{% if message == "received" %}
		<script type="text/javascript">
			alert("Your query has been submitted! We'll get in touch with you soon!");
		</script>
	{% endif %}

	{% if message == "failed" %}
		<script type="text/javascript">
			alert("Your query could not be recorded, please try again after few minutes.");
		</script>
	{% endif %}

		<!-- Start Main Content -->
		<main class="main-content">
		    <div class="container body-content">

				<!-- Start Main Column -->
				<div class="col-sm-9 main-column">
					<!-- Page Header -->
					<h1 class="page-header">Have a question?</h1>

					<p class="lead">Get in Touch with us! We'd love to hear from you.</p>

					<br/>
					<!-- Start Contact Form -->
					<form action="{% url "website:contact" %}" method="post">
						{% csrf_token %}
						<fieldset>
							<div class="row">
								<section class="col-md-6">
									<label>First Name</label>
									<label class="input">
										<i class="icon_append fa fa-user"></i>
										<input type="text" name="fname" id="fname" placeholder="First Name" required>
									</label>
								</section>
								<section class="col-md-6">
									<label>Last Name</label>
									<label class="input">
										<i class="icon_append fa fa-user"></i>
										<input type="text" name="lname" id="lname" placeholder="Last Name" required>
									</label>
								</section>
							</div>
							<div class="row">
								<section class="col-md-6">
									<label>E-mail</label>
									<label class="input">
										<i class="icon_append fa fa-envelope-o"></i>
										<input type="email" name="email" id="email" placeholder="Email" required>
									</label>
								</section>
								<section class="col-md-6">
									<label>Mobile Number</label>
									<label class="input">
										<i class="icon_append fa fa-question-circle"></i>
										<input type="text" name="subject" id="subject" placeholder="Mobile Number" required>
									</label>
								</section>
							</div>
							<section>
								<label>Message</label>
								<label class="textarea ">
									<textarea rows="4" name="message" id="message" placeholder="Your Message" required></textarea>
								</label>
							</section>
							<section>
								<label class="checkbox"><input type="checkbox" name="copy"><i></i>Send a copy to my e-mail address</label>
							</section>
						</fieldset>


						<footer>
							<button type="submit" class="btn btn-success">Send Message</button>
						</footer>
					</form>


				</div>

				<!-- Start Sidebar -->
				<aside class="col-sm-3 sticky sidebar">
					<!-- Start Widget -->
					<div class="widget widget-contact">
						<h3>Contact Us</h3>
						<ul class="list-styled list-bordered" style="font-size:14px;">
							<li><strong>Contact Numbers:</strong><br/>+91-9911959707, +91-9999089616, 011-49124333</li>
							<li><strong>Email:</strong><br/><a href="#">info@borntoplay.co.in</a></li>
							<li><strong>Address:</strong><br/>BTP Sports (OPC) Pvt. Ltd. UGF-12, Parmesh Business Centre-I, Community Centre, Karkardooma, New Delhi-110092</li>
						</ul>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.363366087116!2d77.29983731508297!3d28.648836782411415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb438bb7a4ad%3A0x775857c1bae4813!2sBorn+To+Play!5e0!3m2!1sen!2sin!4v1494412512645" width="250" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</aside>


		    </div><!-- /.container -->
		</main><!-- /.main-content -->

		<!-- <div class="scroll-off-container ripple scroll-off">
		<iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDVwczfnpOzMawdJCdR78ifBj-NKCuAYto&q=born+to+play" height="370" frameborder="0" style="border:0"></iframe>
		</div> -->



{% endblock content %}
