{% load staticfiles %}

<!--Start Footer -->
<div id="footer">
  <!-- Start Footer -->
  <footer class="main-footer">
    <div class="container">
      <!-- Start Row -->
      <div class="row">
        <div class="col-md-5">
          <h3>Quick Links</h3>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-styled">
                <li>Home</li>
                <li>About Us</li>
                <li>Contact Us</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-styled">
                <li>Services</li>
                <li>Events</li>
                <li>Galleries</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-sub row">
                <div class="col-md-2"><i class="fa fa-home"></i></div>
                <div class="col-md-10">BTP Sports (OPC) Pvt. Ltd. UGF-12, Parmesh Business Centre-I, Community Centre, Karkardooma, New Delhi-110092</div>
              </div>
              <div class="footer-sub row">
                <div class="col-md-2"><i class="fa fa-phone"></i></div>
                <div class="col-md-10">+91-9911959707, +91-9999089616, 011-49124333</div>
              </div>
              <div class="footer-sub row">
                <div class="col-md-2"><i class="fa fa-envelope"></i></div>
                <div class="col-md-10"><a href="mailto:info@borntoplay.co.in">info@borntoplay.co.in</a></div>
              </div>
              <div class="footer-social">
                <a href="http://www.facebook.com/borntoplayindia" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://www.twitter.com/borntoplayindia" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="http://www.instagram.com/borntoplayindia" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6" style="margin-top:-8px;">
              <h3>About Us</h3>
              <p>
                Born To Play is an endeavor, brought out to change the way you look at sports. A first of its kind initiative, Born To Play reconstructs sports as we know it, and hopes to bring you delight through the medium of sports.
              </p>
            </div>
          </div>
        </div>

      </div><!--/.row -->
    </div>
  </footer>



  <!-- Start Post Footer -->
  <footer class="post-footer">
    <div class="container">
      <div class="foot-left">
        <div>&copy; Designed by Delhi Nerds.<span class="copy-year"></span>. All rights reserved by BTP Sports (OPC) Pvt. Ltd.</div>
      </div>

      <div class="foot-right">
        <ul class="social-links">
          <li><a href="http://www.facebook.com/borntoplayindia"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://www.twitter.com/borntoplayindia"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://www.instagram.com/borntoplayindia"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company-beta/13240643/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://www.youtube.com/borntoplayindia"><i class="fa fa-youtube"></i></li>
          <li><a href="http://www.borntoplay.co.in"><i class="fa fa-globe"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div><!--/footer -->
