{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<!-- Start Feature Slider -->
<div class="rev_slider_wrapper">
  <div id="slider1" class="rev_slider rev-slider-standard"  data-version="5.0">
    <ul>
      {% for each in sliders %}
      <li data-fstransition="slidedown" data-fsmasterspeed="300" data-transition="fade">
        <!-- MAIN IMAGE -->
        <img src="{{each.image.url}}" alt="slide" data-bgposition="center center" data-kenburns="off" data-duration="9000" data-ease="Power2.easeInOut" data-scalestart="110" data-scaleend="133" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYER NR. 1 -->
        <h1 class="tp-caption"
          data-x="left" data-hoffset="0"
          data-y="top" data-voffset="90"
          data-whitespace="nowrap"
          data-transform_idle="o:1;sX:1;sY:1;skX:0px;skY:0px;rX:0;rY:0;rZ:0;z:0;"
          data-transform_in="x:250px;y:0px;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0px;skY:0px;opacity:0;s:300;e:Power2.easeInOut;"
          data-transform_out="x:-250px;y:0px;rX:{0,0};rY:{0,0};sX:1;sY:1;opacity:0;s:300;e:Power3.easeInOut"
          data-color="#ffffff"
          data-fontsize="44"
          data-lineheight="46"
          data-width="auto"
          data-height="auto"
          data-start="300">
          {{each.title}}
        </h1>

        <!-- LAYER NR. 1 -->
        <p class="tp-caption"
          data-x="left" data-hoffset="0"
          data-y="top" data-voffset="225"
          data-whitespace="nowrap"
          data-transform_idle="o:1;sX:1;sY:1;skX:0px;skY:0px;rX:0;rY:0;rZ:0;z:0;"
          data-transform_in="x:250px;y:0px;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0px;skY:0px;opacity:0;s:300;e:Power2.easeInOut;"
          data-transform_out="x:-250px;y:0px;rX:{0,0};rY:{0,0};sX:1;sY:1;opacity:0;s:300;e:Power3.easeInOut"
          data-color="#ffffff"
          data-fontsize="17"
          data-lineheight="22"
          data-width="auto"
          data-height="auto"
          data-start="500">
          {{each.text|safe}}
        </p>
      </li><!--/. END SLIDE -->
      {% endfor %}

    </ul>
  </div><!-- END REVOLUTION SLIDER -->
</div><!-- END OF SLIDER WRAPPER -->

<!-- Start Main Content -->
<section class="main-content">
    <div class="container body-content">

    <!-- Start Widget Section -->
    <section class="row page-section">
      <div class="col-sm-6">
        <h3 style="text-align:center;"><a href="{% url "photologue:gallery-list" %}">Latest Gallery</a></h3>

        <p></p>

      </div>

      <div class="col-sm-6">
        <!-- Start Widget -->
        <div class="widget widget-post-thumbs">
          <h3 style="text-align:center;"><a href="{% url "events:index" %}">Up-Coming Events</a></h3>
          <ul class="list-post-thumbs">
            {% for each in events %}
              <li>
                <a href="{% url "events:event-view" each.pk each.title|slugify %}">
                  <img src="{{each.introImage.url}}" alt="fill" />
                  <div>
                    <p><strong>{{each.title}}</strong></p>
                    <p>{{each.introText}}<br/>
                    On <small class="meta-text">{{each.date_added}}</small></p>
                  </div>
                </a>
              </li>
            {% endfor %}
            <!-- <li>No Events in Lineup</li> -->
          </ul>
        </div>
      </div>
    </section>


  </section>

  <section class="section-supporters section-fill">
    <div class="main-content container">
      <h3>Our Sponsors</h3>
    </div>

    <ul class="list-thumbs owl-carousel" style="width:100%; margin-bottom:15px;">
      <li><a href="#"><img src="{% static "img/logos/1.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/2.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/3.png" %}" alt="mock" style="width:150px;" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/4.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/5.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/6.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/7.png" %}" alt="mock" style="width:140px;" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/8.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/9.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/10.png" %}" alt="mock" /></a></li>
      <li><a href="#"><img src="{% static "img/logos/11.png" %}" alt="mock" /></a></li>
  	</ul>
  </section>

  <section class="main-content">
    <div class="container main-content">
      <section class="row page-section">
        <div class="col-md-4">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fborntoplayindia&tabs=timeline&width=340&height=375&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1868813786730034" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        <div class="col-md-4" style="border:1px solid #3498DB;">
          <a class="twitter-timeline" data-height="375" href="https://twitter.com/borntoplayindia">Tweets by borntoplayindia</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4" style="margin-top:-10px;">
          <h5>Follow us on insta <a href="http://www.instragram.com/borntoplayindia" target="_blank">@borntoplayindia</a></h5>
          <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/6e06378a557e53319c058e07ae9b69c1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
          </div>
        </div>
      </section>
    </div>
  </section>

{% endblock content %}
