{% load staticfiles %}
<!-- Start Main Header -->
<nav class="main-header header-reveal">
  <div class="container">
  <!-- Start Menu -->
  <div id="menuzord" class="menuzord">
    <div class="head-left">
      <a href="{% url "website:index" %}" class="menuzord-brand">
        <img class="logo-img" src="{% static "logo.png" %}" alt="Logo" />
      </a>
    </div>
    <ul class="menuzord-menu head-center" style="margin-left:100px;">
      <li class=""><a href="{% url "website:index" %}">Home</a></li>
      <li><a href="{% url "website:about" %}">About Us</a></li>
      <li><a href="{% url "website:services" %}">Services</a></li>
      <li><a href="{% url "events:index" %}">Events</a></li>
      <li><a href="{% url "photologue:gallery-list" %}">Gallery</a></li>
      <li><a href="http://blog.borntoplay.co.in">Blog</a></li>
      <li><a href="{% url "website:contact" %}">Contact Us</a></li>
      <!-- <li class="overlay-tigger">
        <a class="overlay-btn btn-open" href="#"><em class="fa fa-search"></em></a>
      </li> -->
      <!-- <li><a href="http://www.facebook.com/borntoplayindia"><i class="fa fa-facebook"></i></a></li>
      <li><a href="http://www.twitter.com/borntoplayindia"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://www.instagram.com/borntoplayindia"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/company-beta/13240643/"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="http://www.youtube.com/borntoplayindia"><i class="fa fa-youtube"></i></li> -->
    </ul>
  </div><!--/.menuzord -->
  </div>
</nav>
<!-- End Main Header -->

</header>
<!-- End Header -->
