{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
  Personalize your Souffl&eacute; | Ezma Souffl&eacute; Collection 2016
{% endblock title %}


{% block content %}

<div style="overflow:scroll;height:480px;" class="screen">


  <p style="text-align:center;">
    <h1>Souffl&eacute; Personalization</h1>
    We are delighted to offer ‘Personally EZMA’ a bespoke service whereby you can get your favorite scarf initialed using either embroidery or Swarovski crystals. Make every gift even more desirable by adding your own personal message, initials, monogram or inscribe it for an occasion.
  Intricate customization and attention to details with precision to make every gift an absolute delight whether its for your own use, corporate gifting or as a souvenir for an unforgettable occasion.
  </p>
  <br />

  <div class="hidden-xs hidden-sm">
    <center>
      <img src="{% static "homepage/images/p1.jpg" %}" width="300" style="margin-right:20px;" />
      <img src="{% static "homepage/images/p2.jpg" %}" width="300" /><br />
      <img src="{% static "homepage/images/black.JPG" %}" width="300" />
    </center>
  </div>

  <div class="visible-xs visible-sm">
    <center>
      <img src="{% static "homepage/images/p1.jpg" %}" width="300" style="margin-right:20px;" /><br /><br />
      <img src="{% static "homepage/images/p2.jpg" %}" width="300" style="margin-left:-20px;" /><br />
      <img src="{% static "homepage/images/black.JPG" %}" width="300" />
    </center>
  </div>

  <p style="text-align:center;">
    For further details please call us: +91 99100 03962             or write to us: info@ezma.co.in<br />
    <strong>Disclaimer:</strong> Special conditions, minimums and costs apply for personalized services. Services available in select countries only.
  </p>

</div>

{% endblock content %}
