<!-- Start Full Screen Overlay -->
<div class="canvas-overlay">
  <!-- Close Button -->
  <a class="overlay-btn btn-closer" href="#"></a>
  <!-- Content Container -->
  <div class="container" data-anijs="if: scroll, on:window, do: fadeInDown animated, before: scrollReveal, after: $fireOnce removeAnim ">
    <h2>Search Website</h2>
    <form class="search-hero">
      <div class="input-group">
        <label class="input">
          <input type="text" class="form-control" placeholder="Search for...">
        </label>
        <span class="input-group-btn">
          <button class="btn btn-success" type="button">Search</button>
        </span>
      </div>
    </form>

    <br/><br/>
    <!-- <div class="row">
      <div class="col-sm-4">
        <h3>Quick Links</h3>
        <ul class="list-styled list-bordered">
          <li><a href="index.html">Home page</a></li>
          <li><a href="teams.html">Our teams</a></li>
          <li><a href="contact.html">Get in touch</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h3>Recent Posts</h3>
        <ul class="list-styled list-bordered">
          <li><a href="post-standard.html">Nominated club of the year</a></li>
          <li><a href="post-standard.html">Pre season camp success</a></li>
          <li><a href="post-standard.html">Road to the grand finals</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h3>Follow Us</h3>
        <ul class="social-links sl-vertical list-bordered">
          <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
          <li><a href="#"><i class="fa fa-globe"></i>Website</a></li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
<!-- End Full Screen Overlay -->
