{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
{{post.title}} | Blogs
{% endblock title %}

{% block content %}

<main class="main-content">
    <div class="container body-content">

      <div class="row">
        <div class="col-sm-9 main-column">
          <!-- Start Meta -->
          <div class="post-title">
          <h1>{{post.title}}</h1>
          <div class="post-meta">
            <em class="date">{{post.date_added}}</em>
            <em class="author"><a href="#">{{post.author}}</a></em>
            <!-- <em class="category"><a href="archive-list.html">Games</a><a href="archive-list.html">Club News</a></em> -->
            <!-- <em class="comments"><a href="#" data-scroll-nav='0'>5</a>/</em> -->
          </div>
        </div>

        <!-- Start Feature Image -->
        <div class="hover-box-container hb-effect-fade">
          <a href="{{post.mainImage.url}}" class="fancybox hover-box" data-fancybox-group="gallery1" title="Insert Your Titles">
            <img src="{{post.maineImage.url}}" alt="alt" />
            <div class="hover-box-content-container">
              <div class="hover-box-content">
                <em class="fa fa-search"></em>
              </div>
            </div>
          </a>
          <div class="caption-text">{{post.introText}}</div>
        </div>
        <br/>

        <!-- Start Content -->
        <p>
          {{post.fullText|safe}}
        </p>
        <!-- Start Tags -->
        <!-- <ul class="post-section list-unstaled list-inline post-tags">
          <li><a href="#">Sport</a></li>
          <li><a href="#">Game</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Trophy</a></li>
          <li><a href="#">Match</a></li>
        </ul> -->


        <!-- Start Author -->

      {% include "events/sidebar.html" %}

    </div><!-- /.container -->
</main><!-- /.main-content -->

{% endblock content %}
